@page "/nasa"
@using Data
@inject ProbniServis Ps
@inject Data.Services.Person PersonService



<h3>Nasa</h3>

<MudTable Items="PersonService.GetAll()">
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Name</MudTh>
        <MudTh>Surname</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Id</MudTd>
        <MudTd>@context.Name</MudTd>
        <MudTd>@context.Surname</MudTd>
    </RowTemplate>
</MudTable>


@for(int i =0; i < 10; i++)
{
    <b>@Ps.Sabiranje(i, i)</b><br/>
}


@code 
{

}
